html
    head
        title The My World Home Page
    body
        ul
            li
                a(href="/") Home
            li
                a(href="/things") Things
            li
                a(href="/people") People
                
        h1 Welcome to My World!!!